*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: #e9eaee;
}
.mainContent{
    display: flex;
    margin-top: 20px;

}
.navBar{
    display: flex;
    align-items: center;
    background-color: #4f76a1;
    padding:10px;
    padding-left: 200px;
}
.navBar h2{
    color: white;
}
#form1 {
    background-color: #324766;
    width: 200px;
    height: 33px;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#form1  input {
    all: unset;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
#form1  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

#form1  svg {
    color: #fff;
    width: 24px;
    height: 24px;
    padding: 10px;
}

#form1{
    margin-left: 150px;
}
form {
    background-color: white;
    width: 100%;
    height: 33px;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
button {
    all: unset;
    cursor: pointer;
}
svg {
    color: #fff;
    width: 24px;
    height: 24px;
    padding: 10px;
}

.leftBar{
    margin-left: 190px;
    margin-right: 80px;
}
.leftBar ul {
    list-style-type: none;
}
.leftBar ul a{
    text-decoration: none;
    color: #4c596c;
}
.centerContent{
    background-color: white;
    border-radius: 10px;
    margin-right: 40px;
}
.centerContent1{
    display: flex;
    justify-content: space-between;
    border-bottom: #4c596c solid 0.1px;
    padding: 10px;

}
.centerContent2{
    border-bottom: #4c596c solid 0.1px;
}
.centerContent1 button{
    background-color: #4f76a1;
    color: white;
    border-radius: 3px;
    text-align: center;
    width: 120px;
    height: 30px;
    margin-left: 200px;
}
.centerContent1-1{
    display: flex;
    flex-direction: row;
}
.centerContent1-1 h5{
    margin-left: 10px;
}
.centerContent3{
    background-color: white;
    border-bottom: #4c596c solid 0.1px;
}
.centerContent3{
    display: flex;
    flex-direction: column;
}
.centerContent3-1{
    display: flex;
    align-items: center;
    padding: 10px;
}
.centerContent3 img{
    height: 100px;
    border-radius: 50px;
}
.centerContent3-1-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
div a{
    text-decoration: none;
}
.rightBar-friends{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.rightBar-friends ul {
    list-style-type: none;
}
.rightBar-friends ul a{
    text-decoration: none;
    color: #4c596c;
}
.rightBar-maybe-friends{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
.rightBar-maybe-friends img{
    width: 100%;
    height: 100px;
    border-radius: 50px;
}
.rightBar-maybe-friends-photos{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.rightBar-maybe-friends-photos1{
    display: flex;
}
.rightBar-maybe-friends-photos2{
    display: flex;
}
.rightBar-maybe-friends-photos3{
    display: flex;
}
.centerContent img{
    width: 100%;
}
.rightBar-maybe-friends img{
    width: 100%;
}
.rightBar-maybe-friends-photos1-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
}
.rightBar-maybe-friends-photos2-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
}
.rightBar-maybe-friends-photos3-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
}